[submodule "ext/geogram"]
	path = ext/geogram
	url = https://github.com/BrunoLevy/geogram
	ignore = untracked
[submodule "ext/OpenVolumeMesh"]
	path = ext/OpenVolumeMesh
	url = https://gitlab.vci.rwth-aachen.de:9000/OpenVolumeMesh/OpenVolumeMesh.git
